@import "../../../common/styles/mixin";

.settingsTikTakToeContainer {
  @include flex(column, space-evenly, center, wrap);
  width: 100%;
  height: 5%;

  .status {
    @include flex(row, center, center, wrap);
    width: 100%;
    height: 50%;
  }

  .buttonBlock {
    @include flex(row, center, center, wrap);
    width: 100%;
    height: 50%;
  }
}