@import './src/common/styles/mixin';
@import './src/common/styles/variables';

.modalBlock {
  @include flex(column, center, center, nowrap);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 1000;

  .modalContent {
    @include flex(column, space-evenly, center, nowrap);
    width: 750px;
    min-height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    @media screen and (max-width: $mediaWidth) {
      width: 90%;
      height: 200%;
      border-radius: 0;
      padding: 10px;
    }

    .closeBlock::after {
      color: black;
      content: "✖";
      cursor: pointer;
      font-weight: 300;
      font-size: 20px;
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }
}