@import './src/common/styles/mixin';
@import './src/common/styles/variables';

.titleBlock {
  @include flex(row, flex-start, center, nowrap);
  width: 100%;
  height: 20%;

  .title {
    padding-left: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.form {
  width: 100%;
  height: 60%;

  .inputsBlock {
    @include flex(row, flex-start, flex-start, nowrap);
    width: 100%;
    padding: 0 45px;
    box-sizing: border-box;

    .inputContainer {
      @include flex(column, center, flex-start, wrap);
      width: 100%;
      margin-bottom: 30px;
      margin-right: 10px;


      .label {
        margin-bottom: 10px;
        color: rgba(1, 1, 1, 0.7);
      }

      .error {
        margin-top: 7px;
        color: #bd1010;
      }

      & input, select {
        width: 100%;
        height: 40px;
        padding-left: 8px;
        border-radius: 5px;
        border: 0;
        color: rgba(1, 1, 1, 0.7);
        background-color: rgba(0, 0, 0, 0.05);

        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      & select {
        width: 318px;
      }
    }
  }

  .buttonBlock {
    width: 100%;
    padding: 0 45px;
    box-sizing: border-box;

    .submitButton {
      width: 100%;
      height: 40px;
      border: 0;
      border-radius: 4px;
      background-color: rgba(22, 63, 246, 0.85);
      color: white;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      margin-bottom: 30px;

      &:hover {
        background-color: rgba(8, 41, 178, 0.85);
      }

      &:disabled {
        background-color: #9a9a9a;
        cursor: unset;
      }
    }
  }
}

.rules {
  @include flex(column, flex-start, flex-start, nowrap);
  padding: 0 40px 40px 40px;
  box-sizing: border-box;
  @media screen and (max-width: $mediaWidth) {
    padding: 5px;
  }

  .title {
    @include text(16px, 16px, 600);
    color: $textColor;
    margin-bottom: 10px;
  }

  .enums {
    @include text(15px, 20px, 500);
    color: $textColor;
    margin-bottom: 10px;
  }

  .example {
    @include text(16px, 17px, 500);
    color: $textColor;
    margin-bottom: 10px;
    @media screen and (max-width: $mediaWidth) {
      display: none;
    }
  }
}


