@import "../../../common/styles/mixin";
@import "../../../common/styles/variables";

$primary-color: #ff6347;
$secondary-color: #4b4b4b;
$size: 140px;
$depth: 0px;

.square {
  @include flex(column, center, center, nowrap);
  width: $size;
  height: $size;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  @media screen and (max-width: $mediaWidth) {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
  }

  &:before {
    width: $size;
    height: $size;
    border-radius: 30px 30px 30px 30px;
    transform: translateZ(-$depth);
    @media screen and (max-width: $mediaWidth) {
      width: 100px;
      height: 100px;
    }
  }

  &:before,
  &:after {
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 $depth $secondary-color;
  }

  &:hover {
    border-radius: 30px 30px 30px 30px;

    box-shadow: 0 0 15px $secondary-color;
  }

  .squareValue {
    position: relative;
    z-index: 1;
  }
}