@import "../../../common/styles/variables";
@import "../../../common/styles/mixin";

.gameStatus {
  @include text(25px, 25px, 700);
  margin: 20px 0;
  color: $textColor;
  padding: 1rem;
  @media screen and (max-width: $mediaWidth) {
    @include text(15px, 15px, 700);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
  }

  &__fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
  }
}