@import './src/common/styles/mixin';
@import './src/common/styles/variables';

.toPacksList {
  @include flex(row, flex-start, center, wrap);
  @include text(19px, 19px, 700);
  position: absolute;
  left: 50px;
  top: 50px;
  text-decoration: none;
  color: $textColor;
  @media screen and (max-width: $mediaWidth) {
    left: 30px;
    top: 30px;
  }

  .text {
    @media screen and (max-width: $mediaWidth) {
      display: none;
    }
  }
}
