@import "../../../common/styles/mixin";

.board {
  width: 500px;
  height: 480px;
  //background-color: white;

  .boardRow {
    @include flex(row, space-evenly, center, nowrap);
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
}