@import "../../../common/styles/mixin";
@import "../../../common/styles/variables";

.yourNumber {
  @include text(16px, 16px, 600);
  color: $textColor;
  position: absolute;
  right: 50px;
  bottom: 50px;
  @media screen and (max-width: $mediaWidth) {
    right: 30px;
    bottom: 21px;
  }

  .number {
    color: $secondMainColor;
  }
}