@import "../../../common/styles/mixin";

$primary-color: #FFC107;
$secondary-color: #FF9800;
.settingsContainer {
  @include flex(column, flex-start, center, wrap);
  width: 40%;
  height: 40%;

  .statisticsBlock {
    @include flex(row, center, flex-start, wrap);
    width: 100%;
    margin-top: 30px;

    .myMoves {
      @include flex(column, flex-start, center, wrap);
      width: 50%;
    }

    .opponentMoves {
      @include flex(column, flex-start, center, wrap);
      width: 50%;
    }
  }
}